section.intro
    .intro__imagen
        img(src="./images/imagen.png", alt="")
    .intro__contenido
        h2 #{titulos[0]}
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut     aque odit voluptates debitis tenetur sint, officiis veniam ste! Rem     qui libero enim dicta sed necessitatibus, sit aboriosam suscipit    nulla beatae.
        span Lorem ipsum dolor sit amet consectetur, adipisicing    elit.
        a.boton Leer Mas