main.contenido
    +caja("imagen.png",titulos[1],"Lorem ipsum dolor sit amet   consectetur, adipisicing elit.")
    +caja("imagen.png",titulos[2],"Lorem ipsum dolor sit amet   consectetur, adipisicing elit.")
    +caja("imagen.png",titulos[3],"Lorem ipsum dolor sit amet   consectetur, adipisicing elit.")
    