include componentes/configuraciones.pug
doctype html
html(lang="en")
    include componentes/head
    body
        include componentes/header.pug
        include componentes/intro.pug
        include componentes/main.pug
        include componentes/footer.pug
