main.main
    .main__element1
        .element1__contenido1
            .contenido1__texto1
                .texto1__titulo1
                    h2.titulo1__h2 Gana en productividad
                .texto1__parrafo1
                    p.parrafo1__p1 Con productos para el almacenamiento y el uso compartido en la nube, la firma electrónica, el seguimiento de documentos y las copias de seguridad, Dropbox te ayuda a simplificar tu trabajo y tu vida
            .contenido1__boton1
                a.boton1__contenido
                    span.contenido__texto Encuentra tu plan 
                    span.contenido__icono
                        img.icono__imagen(src="./01assets/flecha-derecha-negra.svg", alt="icono flecha")

        

