heade.header
    .header__imagen 
        img(src="./01Assets/01svg/01header__imagen.svg", alt="imagen header")
    .header__nav
        a.nav__item(href="") Content Library
        a.nav__item(href="") Techdegree
        a.nav__item(href="") Teams
        a.nav__item(href="") Success Stories
        a.nav__item(href="") Public Library Accsess
        a.nav__item(href="") Demo
    a.header__singin Sign In
    .header__trials
        a.trials_boton Free Trial
