section.section1
    .section1__contenedor1
        .contenedor1__contacto
            h2.contacto__titulo Best online coding classes for at-home learning
            p.contacto__parrafo1 Learn to code, design, and more—all on your own time
            .contacto__parrafo2 
                p.parrafo2__uno Try it free for 7 days
                p.parrafo2__dos then $25 a month
            .contacto__formulario1
                label(for="").formulario1__label
                a(href="#").formualrio1__boton Join Now
            a.contacto__demo Schedule a demo
        .contenedor1__imagen
            img(src="./01Assets/01svg/imgen-section1.webp", alt="").imagen__lateral
