.header
    .header__container
        img(src="../assets/img/netflix-svg.svg", alt="").container__uno
        .container__dos
                img(src="../assets/iconos/global.png", alt="").dos__icono1 
                p.dos__texto Español
                img(src="../assets/iconos/ordenar-abajo.png", alt="").dos__icono2
        a.container__tres Iniciar Sesion
